<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jt.sys.dao.SysConfigDao">
    <select id="findPageObjects"
           resultType="com.jt.sys.entity.SysConfig">
           select *
           from sys_configs
           <where>
             <if test="name!=null and name!=''">
             name like concat("%",#{name},"%")
             </if>
           </where> 
           limit #{startIndex},#{pageSize}
    </select>
</mapper>



