@charset "UTF-8";
*{
	margin:0;
	padding:0;
}
ul{
	display:block;
	height:80px;
	width:520px;
	margin:auto;
	margin-top:150px;
}
ul li{
	list-style:none;
	float:left;
	display:block;
	height:80px;
	width:240px;
	text-align:center;
}
ul a{
	display:block;
	background-color: #98ECAC;
	float: left;
	line-height: 80px;
	font-size: 26px;
	font-weight:bold;
	color:white;	
	font-family:"Monaco";
}
ul a:hover{
	color:#7c81E2;
}
.regist{
	margin-left:40px;
}








