@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}
form {
    display: block;
    height: auto;
    width: 450px;
    margin: 100px auto;
}
form table tr {
    height: 40px;
}
form table tr td {
    height: 40px;
    width: 280px;
    line-height: 40px;
}

form table tr td input {
    height: 32px;
    border: 1px solid #BABABA;
    border-radius: 6px;
}
.alignRight {
    text-align: right;
    line-height: 40px;
    font-size: 16px;
    font-family: "Monaco";
    width: 200px;
}
.radioMid {
    vertical-align:middle;
}
.submit {
    display: block;
    height: 40px;
    width: 250px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    background-color: #98ECAC;
    border-radius: 8px;
    margin: 15px auto;
}