<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd 
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd">

	<!--spring整合mybatis 1.整合数据源  2.引入mybatis核心配置文件  3.引入mybaits映射文件  -->
	<bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!--引入数据源  -->
		<property name="dataSource" ref="dataSource"/>
		<!--引入mybatis配置文件  -->
		<property name="configLocation" value="classpath:/mybatis/mybatis-config.xml"/>
		<!--引入映射文件  -->
		<property name="mapperLocations" value="classpath:/mybatis/mappers/*.xml"/>
		<!--引入别名包 -->
		<property name="typeAliasesPackage" value="com.jt.manage.pojo"/>
	</bean>
	
	<!--为Mapper接口生产代理对象  -->
	<bean id="mapperScanner" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!--指定包名 为其创建代理对象  -->
		<property name="basePackage" value="com.jt.manage.mapper"/>
	</bean>
</beans>