<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.mybatis.pojo.OrderMapper">
	<resultMap type="Order" id="orderRM">
		<id property="id" column="id"/>
		<result property="orderNo" column="order_no"/>
		<result property="orderType" column="order_type"/>
		<result property="personNum" column="person_num"/>
		<result property="cashier" column="cashier"/>
		<result property="createTime" column="create_time"/>
		<result property="endTime" column="end_time"/>
		<result property="paymentType" column="payment_type"/>
		<result property="price" column="price"/>
		<!-- property是关联实例名称  JavaType是存放数据的对象类型 column代表外键值 -->
		<association property="door" javaType="Door" column="door_id">
			<id property="id" column="door_id"/>
			<result property="name" column="name"/>
			<result property="tel" column="tel"/>	
		</association>
		<!-- 关联对象对多 -->
		<collection property="orderDetails"
		  ofType="OrderDetail" column="order_id">
			<id property="id" column="order_detail_id"/>
			<result property="num" column="num"/>
			<result property="item" column="item"/>
			<result property="price" column="order_detail_price"/>
		</collection>
		
	</resultMap>
	<select id="get" parameterType="integer" resultMap="orderRM">
	SELECT
	od.id AS order_detail_id,
	od.order_id,
	od.num,od.item,od.price as order_detail_price,
	  o.door_id,
	  o.name,o.tel,
	  o.id,
	  o.order_no,o.order_type,o.person_num,o.cashier,o.create_time,o.end_time,o.payment_type,o.price  
FROM
(
	SELECT
	  d.id AS door_id,
	  d.name,d.tel,
	  o.id,
	  o.order_no,o.order_type,o.person_num,o.cashier,o.create_time,o.end_time,o.payment_type,o.price  
	FROM
	(SELECT * FROM tb_order WHERE id=#{id}) o
	LEFT JOIN
	(
	SELECT * FROM tb_door
	WHERE id = (SELECT door_id FROM tb_order WHERE id=#{id})
	) d
	ON o.door_id=d.id
) o
LEFT JOIN
(SELECT * FROM tb_order_detail WHERE order_id =#{id}) od
ON o.id=od.order_id
	
	
	
	</select>



</mapper>



