<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.mybatis.pojo.UserMapper">
	<sql id="cols">id,name,age,address</sql>
	<select id="find" resultType="User" parameterType="User">
		select <include refid="cols"/> from user_c
		<where>
		<if test="id!=null">id=#{id}</if>
		<if test="name!=null">name=#{name}</if>
		<if test="address!=null">and address like #{address}</if>
		</where>
	</select>
	<insert id="insert" parameterType="User">
	insert into user_c values (#{id},#{name},#{age},#{address});
	</insert>
	<update id="update" parameterType="User">
		update user_c 
		<set> 
		<if test="name!=null">name=#{name},</if>
		<if test="address!=null">address=#{address},</if> 	
		</set>
		where id=#{id}
	</update>
	<delete id="delete" parameterType="string">
		delete from user_c where id in
		<foreach collection="list" open="(" close=")" separator=","
			item="id">
			#{id}
			</foreach>
	</delete>
	<select id="get" parameterType="string" resultType="User">
	select <include refid="cols"/> from user_c where name=#{name}
	</select>
	<select id="search" parameterType="map" resultType="User">
	select <include refid="cols"/> from user_c where id=#{id} and name=#{name}
	</select>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</mapper>