<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>jt_manage</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>backend/manage.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ProdAddServlet</display-name>
    <servlet-name>ProdAddServlet</servlet-name>
    <servlet-class>com.tedu.jt.web.backend.ProdAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProdAddServlet</servlet-name>
    <url-pattern>/ProdAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProdListServlet</display-name>
    <servlet-name>ProdListServlet</servlet-name>
    <servlet-class>com.tedu.jt.web.backend.ProdListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProdListServlet</servlet-name>
    <url-pattern>/ProdListServlet</url-pattern>
  </servlet-mapping>
</web-app>