<?xml version="1.0" encoding="UTF-8"?>
<beans default-lazy-init="true"
    xmlns="http://www.springframework.org/schema/beans" 
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:jpa="http://www.springframework.org/schema/data/jpa"
    xsi:schemaLocation="  
       http://www.springframework.org/schema/beans   
       http://www.springframework.org/schema/beans/spring-beans-4.3.xsd  
       http://www.springframework.org/schema/mvc   
       http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd   
       http://www.springframework.org/schema/tx   
       http://www.springframework.org/schema/tx/spring-tx-4.3.xsd   
       http://www.springframework.org/schema/aop 
       http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
       http://www.springframework.org/schema/util 
       http://www.springframework.org/schema/util/spring-util-4.3.xsd
       http://www.springframework.org/schema/data/jpa 
       http://www.springframework.org/schema/data/jpa/spring-jpa-1.3.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.3.xsd" >
	<util:properties id= "cfg" location="configs.properties"/>
	<import resource="spring-druid.xml" />
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="druidDataSource"></property>
		<property name="mapperLocations" value="classpath:mapper/sys/*.xml"></property>
	</bean>
	<!-- 配置Dao接口的扫描 (key默认为类名)-->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 配置扫描哪个包下的dao -->
		<property name="basePackage" value="com.jt.sys.dao"/>
		<!-- MapperScannerConfigurer对象底层创建dao接口实现类依托于sqlSessionFactory（一定要与上面的那个相同） -->
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
		
	</bean>
	<!-- 配置service -->
	<bean id="sysConfigService" class="com.jt.sys.service.SysConfigServiceImpl">
		<property name="sysConfigDao" ref="sysConfigDao" />
	</bean>
	<!-- 配置Controller -->
	<bean id="sysConfigController" class="com.jt.sys.controller.SysConfigController">
		<property name="sysConfigService" ref="sysConfigService"/>
	</bean>
	
	
	
</beans>