<?xml version="1.0" encoding="UTF-8"?>
<beans default-lazy-init="true"
    xmlns="http://www.springframework.org/schema/beans" 
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:jpa="http://www.springframework.org/schema/data/jpa"
    xsi:schemaLocation="  
       http://www.springframework.org/schema/beans   
       http://www.springframework.org/schema/beans/spring-beans-4.3.xsd  
       http://www.springframework.org/schema/mvc   
       http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd   
       http://www.springframework.org/schema/tx   
       http://www.springframework.org/schema/tx/spring-tx-4.3.xsd   
       http://www.springframework.org/schema/aop 
       http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
       http://www.springframework.org/schema/util 
       http://www.springframework.org/schema/util/spring-util-4.3.xsd
       http://www.springframework.org/schema/data/jpa 
       http://www.springframework.org/schema/data/jpa/spring-jpa-1.3.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.3.xsd" >
       
       <!-- 配置对Bean对象的扫描 -->
       <context:component-scan base-package="com.jt"/>
       <!-- 启用springmvc的默认配置 -->
       <mvc:annotation-driven>
           <!-- 设置默认的json串转换对象 -->
           <mvc:message-converters register-defaults="true">
             <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
                 <property name="supportedMediaTypes">
                     <list>
                       <value>text/html;charset=utf-8</value>
                       <value>application/json;charset=utf-8</value>
                     </list>
                 </property>
             </bean>
           </mvc:message-converters>
       </mvc:annotation-driven>
       <!-- 配置视图解析器对象 -->
       <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
           <property name="prefix" value="/WEB-INF/pages/"/>
           <property name="suffix" value=".jsp"/>
       </bean>
       <!-- 整合DRUID -->
       <util:properties id="cfg" location="classpath:configs.properties"/>
       <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource"
             init-method="init" destroy-method="close">
             <property name="driverClassName" value="#{cfg.jdbcDriver}"/>
             <property name="url" value="#{cfg.jdbcUrl}"/>
             <property name="username" value="#{cfg.jdbcUser}"/>
             <property name="password" value="#{cfg.jdbcPassword}"/>
       </bean>
       <!-- 整合SqlSessionFactoryBean对象 -->
       <bean id="sqlSessionFactory"
             class="org.mybatis.spring.SqlSessionFactoryBean">
             <property name="dataSource" ref="dataSource"/>
             <property name="mapperLocations" value="classpath:mapper/sys/*.xml"></property>
       </bean>
       <!-- 整合MapperScannerConfigurer对象，负责扫描Dao接口 -->
       <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
             <property name="basePackage" value="com.jt.**.dao"/>
             <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
       </bean>
       
       
</beans>























